{% extends '_account.html' %}
{% load crispy_forms_tags %}

{% block form %}
<div class="main-body">
    {% if messages %}
    <div class="row gutters-sm">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        T{{ message }}
                    </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                    {% else %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <form method="POST">
        <h2>User data</h2>
        <div class="row gutters-sm">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ user_form|crispy }}
                    </div>
                </div>
            </div>
        </div>
        <h2>Participant data</h2>
        <div class="row gutters-sm">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ participant_form|crispy }}
                    </div>
                </div>
            </div>
        </div>
        <h2>Address data</h2>
        <div class="row gutters-sm">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ address_form|crispy }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row gutters-sm">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <input type="submit" value="Submit" class="btn btn-success">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}